@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.menu li > *:not(ul, .menu-title, detail):active{
    background-color: transparent;
    color:#D91656;
}

.swiper-button-prev, .swiper-button-next{
    color: #D91656
}

.swiper-pagination-bullet{
    background: #FFFFFF
}

.swiper-pagination-bullet-active{
    background-color: #D91656
}

 .Testimonials__main{
    padding: 0;
    max-width: 1280px;
}

.Testimonials__main-container{
    margin: 0 auto;
    max-width: 1280px;
}

.TestimonialsTop{
    border-bottom: .2px solid #D91656;
}

 .TestimonialsBottom__box>*{
    gap: 5px;
} 
